* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* box-shadow: 0 0 1px red inset; */
}

:root {
  --color-bisque: #ffe4c4;
  --primary-color: #0b7285;
  --highlight-bg: #e3fafc;
  --selected-text: #0b7285;
}

body,
html {
  width: 100%;
  height: 100%;
}
#root {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

#root > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

#root > div > .group-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 25px;
}

#root > div > .group-layout > .group-layout-item {
  border-radius: 25px;
  padding: 10px;
}
