* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* box  -shadow: 0 0 1px red inset; */
}
#root {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

#root div {
  padding: 20px;
}
.group-layout {
  display: flex;
  flex-direction: column;
  border-radius: 25px;
}
